//* { outline: 1px solid rgba(255, 0, 0, 0.4) !important; }
* { box-sizing: border-box !important; }

@import url('https://fonts.googleapis.com/css?family=UnifrakturCook:700');

.logo {
	display: block;
	margin: 0 auto;
	background: url("/assets/images/logo-transparente.png") no-repeat;
	background-size: 100% 100%;
	text-indent: -9999px;
	//background-position: right top;
	width: 120px;
	height: 120px;
	border-radius: 60px;
}

@media screen and (max-width: 900px) {
	body {
		flex-direction: column;
	}
}

body {
	display: flex;
	flex-flow: row nowrap;

	$header-width: 190px;

	> header {
		position: fixed;
		width: $header-width;
		height: 100%;

		padding-top: 1.5em;
		background-color: $grey-color-light;
		flex: 0 0 150px;
		display: flex;
		flex-flow: column;
		//box-shadow: -5px 0 10px 5px black;
		border-right: 1px solid black;

		.nav-footer {
			color: #555;
			margin-left: 1em;
			margin-right: 1em;
			margin-bottom: 13px;
		}

		nav {
			margin-top: 1em;
			flex: 1;
			display: flex;
			flex-flow: column nowrap;

			a, a:visited {
				color: $text-color;
				line-height: 2em;
				vertical-align: middle;
				padding-left: 1em;
				padding-right: 1em;
				margin-left:  1em;
				margin-right: 1em;
				letter-spacing: 1px;
				//font-weight: 600;
				transition: background-color 0.1s, color 0.1s;
				&:hover {
					//background-color: $grey-color;
					background-color: darken($brand-color, 10%);
					color: $grey-color-light;
					text-decoration: none;
				}
				&.current {
					//background-color: $grey-color-dark !important;
					background-color: darken($brand-color, 20%) !important;
					color: $grey-color-light;
					text-decoration: none;
				}
			}
		}
	}

	main {
		flex: 1;
		margin-left: $header-width;
	}
}
ul.post-list-short {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.post-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		margin: 0;
		padding: 0;
		
		// border: 1px solid #ddd;
		// border-radius: 3px;
		// box-shadow: 0 3px 5px -4px black;
		// margin-bottom: 2em;

		//&:not(:last-child)::after {
		&::after {
			display: block;
			width: 900px;
			margin: 0 auto;
			box-sizing: border-box;

			//content: "";

			border: none;
			height: 20px;
			width: 90%;
			height: 50px;
			margin-top: 0;
			border-bottom: 1px solid #1f1209;
			box-shadow: 0 20px 20px -20px #333;
			margin: -50px auto 10px; 
		}
	}
}

#calendar {
	height: 65vh;
	position: relative;
	margin: 1.6em 0;
	background-color: #eee;
}



input[type=number] {
	width: 8em;
	outline: none;
	border: 1px solid black;
	&:focus {
		border-color: blue;
	}
	&:invalid {
	    border-color: red;
	}
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
	    /* display: none; <- Crashes Chrome on hover */
	    -webkit-appearance: none;
	    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
	}
}

.ribbon {
	font-size: 2em;
	font-family: 'UnifrakturCook', cursive;
	width: 100%;
	background-color: $brand-color;
	color: white;
	text-shadow: 0 0 3px darken($brand-color, 50%);
	box-shadow: 0 3px 6px black;
	line-height: 2em;
	margin-top: 0.4em;
	letter-spacing: 2px;
	font-weight: bold;
	text-align: center;
}


.post-wrapper {
	margin-left: 1em;
	margin-right: 1em;
}
