---
layout: page
title: Inventario de Juegos
permalink: /juegos/mesa/
---

<p>Nuestra colección de juegos de mesa tambien esta disponible en <a href="https://boardgamegeek.com/collection/user/ConcilioUAM?columns=title|thumbnail|version|bggrating|avgrating">BoardGameGeek</a>.</p>

<label>Jugadores <input name="players" type="number" pattern="[0-9]*" inputmode="numeric" min="1" max="50"></label>

<table id="game-table" cellspacing="0" width="100%">
	<thead>
		<tr>
			<!--<th>Imagen</th>-->
			<th>Nombre</th>
			<th>Taquilla</th>
			<th>Jugadores</th>
			<th>Duración</th>
		</tr>
	</thead>
	<tbody>
		{% for game in site.data.boardgamegeek %}
			<tr data-minplayers="{{game.minplayers}}" data-maxplayers="{{game.maxplayers}}">
				<!--<td style="text-align: center;"><img src="{{game.thumbnail}}" alt="{{game.name}}" style="max-width: 100px; height: 100px;"></td>-->
				<td>{{game.name}} <a data-no-sigil href="https://boardgamegeek.com/boardgame/{{game.objectid}}"></a></td>
				<td>5</td>
				<td>{{game.minplayers}}{% if game.minplayers != game.maxplayers %} – {{game.maxplayers}}{% endif %}</td>
				<td>{% if game.minplaytime != game.maxplaytime %}+{% endif %}{{game.minplaytime}} min</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
