<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <header class="site-header" role="banner">
      <a class="logo" href="{{ '/' | relative_url }}">A.E. El Concilio</a>

      <nav>
        {% for nav in site.nav-bar %}
          <a {% if nav.url == page.url %}class="current"{% endif %} href="{{nav.url}}">{{nav.text}}</a>
        {% endfor %}
      </nav>

      <div class="nav-footer">
        Alojada en
        <i class="fa fa-github"></i> <a data-no-sigil href="https://github.com/ConcilioUAM/ConcilioUAM.github.io">Github</a>
      </div>
    </header>

    <main>{{ content }}</main>
  </body>

</html>
